#-----------------------------
# BACKEND
#-----------------------------
# Database Configuration (PostgreSQL)
SERVER_DB_HOST=localhost
SERVER_DB_PORT=5434
SERVER_DB_USERNAME=dikshant
SERVER_DB_PASSWORD=postgres
SERVER_DB_NAME=care_connect


# JWT Configuration
SERVER_JWT_SECRET=my_secret_key
SERVER_JWT_EXPIRES_IN=30m


# Server Configuration
SERVER_PORT=3000

# AWS S3 Configuration
SERVER_AWS_REGION=ap-south-1
SERVER_AWS_ACCESS_KEY_ID=
SERVER_AWS_SECRET_ACCESS_KEY=
SERVER_AWS_S3_BUCKET_NAME=careconnect-bucket

# RAG server base url
SERVER_BOT_SERVER_BASE_URL=http://localhost:8080


# Email
SERVER_SMTP_USER=
SERVER_SMTP_PASS=

#-----------------------------
# rag-server
#-----------------------------
# Database
RAG_POSTGRES_DB=ragdb
RAG_POSTGRES_USER=user
RAG_POSTGRES_PASSWORD=postgres
RAG_DATABASE_HOST=db
RAG_DATABASE_PORT=5432

# AWS config
RAG_AWS_ACCESS_KEY_ID=
RAG_AWS_SECRET_ACCESS_KEY=
RAG_AWS_REGION=ap-south-1

# Gemini
RAG_GEMINI_API_KEY=


#-----------------------------
# Frontend
#-----------------------------
FRONTEND_VITE_API_BASE_URL=http://localhost:3000